# Abaikan folder build dari subfolder
01_simple_calculator/bin/
01_simple_calculator/obj/

# Abaikan semua file object dan executable
*.o
*.out
*.exe

# VSCode
.vscode/

# File OS/editor
*.log
*.swp
.DS_Store
